

<div class='itemsList'>

    {{#each itemsArray}}


        <div class="itemsList_2">


            <a href="/gallery/{{this._id}}">
            <img class="itemImage" src="{{this.image}}"><a>
            <h3>{{this.title}}</h3>
            ${{this.price}}.00</br>
            <p>{{this.shortdescription}}</p>
            </a>
             </div>

    </a>
   
    {{/each}}

           
</div>