

<div class='itemsList'>

    {{#each itemsArray}}
    <div class="itemsList_2">
    <p><img class="itemImage" src="{{this.image}}"></p>
    <p><b>{{this.price}}</b></p>
    <p><b>{{this.title}}</b></p>
    <p>{{this.shortdescription}}</p>
    <p><a href="/gallery/{{this._id}}">See More</a></p>
    </div>
    {{/each}}

           
</div>