<div class="indexpage">
<div class="pad">
<div class="indexcont container">

<div><h1>{{item.title}}
</h1> Edite by {{theUser.username}}</div>



<form action="/gallery/{{item.id}}/reviews/{{ri}}/update" method="post">

    <div>{{theUser.username}}</div>
    <input for="title" name="title">Title</input><br>
    <label for="content"> What do you have to say?</label>
    <textarea id="content" name="content" cols="30" rows="10"></textarea>
    <button type="submit">Submit</button>
</form>


</br>
</div>
</div>
</div>