<div class="wrapper">

<div>

        <div><img class="itemImageFull" src="{{item.image}}"></div>


        <h1>{{item.title}}</h1>
        <h4>price: ${{item.price}}</h4>

        <p>{{item.description}}</p>
        <hr>


</div>
</div>
<hr>

{{#if theUser}}
<a href="/gallery/{{item.id}}/reviews/new" class="addReviewButton">Add a Review</a>
{{/if}}


{{#each item.reviews}}
    <h5>{{this.title}}</h5>
    <h6>by: {{this.reviewer.username}}</h6>
    <p>{{this.content}}</p>



{{#if this.mine}}
<form action="/gallery/{{../item.id}}/reviews/{{@index}}/delete" method="post">
<button>delete</button>
</form>

<p><button onclick = "location.href='/gallery/{{../item.id}}/reviews/{{@index}}/edit'")> 
Edit This Review </button></p>
{{/if}}


    <hr>
{{/each}}


