

<div><img class="itemImageFull" src="{{item.image}}"></div>

<br>

<h1>{{item.title}}</h1>
<h4>price: {{item.price}}</h4>

<p>{{item.description}}</p>

<hr>

{{#if theUser}}
<a href="/gallery/{{item.id}}/reviews/new">Add a Review</a>
{{/if}}
<hr>

{{#each item.reviews}}
    <h4>{{this.title}}</h4>
    <h4>{{this.reviewer}}</h4>
    <p>{{this.content}}</p>



{{#if this.mine}}
<form action="/gallery/{{../item.id}}/reviews/{{@index}}/delete" method="post">
<button>delete</button>
</form>

<p><button onclick = "location.href='/gallery/{{../item.id}}/reviews/{{@index}}/edit'")> 
Edit This Review </button></p>
{{/if}}


    <hr>
{{/each}}



