

<div class="wrapper">

<div>

        <div><img class="itemImageFull" src="{{item.image}}"></div>


<div class="container3 cent">

        <div>
        <h1>{{item.title}}</h1>
        <h6>price: ${{item.price}}.00</h6>

        <p>{{item.description}}</p>
        </div>
        <div class="addReviewButton2">
{{#if theUser}}
<a href="/gallery/{{item.id}}/reviews/new" class="addReviewButton leftfl">Add a Review</a>
{{/if}}
</div>
    



</div>
</div>
</div>

<hr>
<br>
<div class="container2">

<div class="cont2">
{{#each item.reviews}}
<div>
    <span>{{this.title}}</span><br>
    <span>by: {{this.reviewer.username}}</span><br>
    <span class="reviewtext">{{this.content}}</span>



<br>
{{#if this.mine}}
<form action="/gallery/{{../item.id}}/reviews/{{@index}}/delete" method="post">
<button class=" addReviewButton leftfl">delete</button>
</form>
<br>
<div class="space2"><button class="addReviewButton leftfl" onclick = "location.href='/gallery/{{../item.id}}/reviews/{{@index}}/edit'")> 
Edit This Review </button></div>
{{/if}}
</div>
<div class="space"></div>
<hr>
{{/each}}
</div>
</div>

</div>

