<!-- Search form -->



<div class="container">

    <div class="searchBox">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search...">
    </div>



    <h1>Welcome to our Stories</h1>


    {{#if theUser}}
    <a href="/blog/create">Add New Post</a>
    {{/if}}



    {{#each postsArray}}
        <div>
            <div class="cont2">
            <img class="itemImagesmall" src="{{image}}">
            <h4>{{title}}</h4>
            <h4>{{shortdescription}}</h4>
        </div>

        <hr>
    {{#if this.mine}}

    <form action="/stories/{{.id}}/delete" method="post">
    <button>Delete</button>
    </form>

    <p><button onclick = "location.href='/stories/{{post.id}}/edit'")> Edit This Post </button></p>

{{/if}}
    <hr>
{{/each}} 
</div>





